@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: rgb(221, 221, 221);
}

body {
  background: var(--background);
  color: var(--foreground);
}

input,
textarea,
select {
  border: none;
  outline: none;
}
